<!DOCTYPE html>
    <head>
        <title>IMAGE TO LEGO</title>
        <style>
            input[type=range][orient=vertical]
            {
                writing-mode: bt-lr; /* IE */
                -webkit-appearance: slider-vertical; /* WebKit */
                width: 8px;
                height: 60px;
                padding: 1 1px;
            }
            input[type=range][orient=horizontal]
            {
                writing-mode: bt-lr; /* IE */
                -webkit-appearance: slider-horizontal; /* WebKit */
                width: 180px;
                height: 8px;
                padding: 1 0px;
            }
            .container-kc {
                position: absolute;
                top: 50%;
                left: 50%;
                -moz-transform: translateX(-50%) translateY(-50%);
                -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
            }
            .center {
              display: block;
              margin-left: auto;
              margin-right: auto;
              width: 60%;
            }
        </style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    
    <body>
        <nav class="navbar navbar-dark bg-primary mb-5">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">IMAGE LEGO-BRICKS</span>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="row mt-5"></div>
                <form class="col-5" action="/legofied" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <label for="imagefile" class="form-label">Upload your Image Here</label>
                        <input type="file" name="imagefile" id="imagefile">
                        <label for="imglb" class="form-label">{{ imglb }}</label>
                        <input type="hidden" name="imglb" id="imglb" value="{{ imglb }}">
                    </div>
                    <div class="row mt-4">
                        <div class="row-5 justify-content-center">
                            <label class="form-label">Baseplates:</label>
                        </div>
                        <div class="row">
                            {% if bY %}
                            <div style="width: 10px; height: 70px; padding: 5 0px;">
                                <input id="rangeY" name="rangeY" min="1" max="20" value="{{ bY }}" step="1" type="range" orient="vertical">
                            </div>
                            {% endif %}

                            <div style="width: 55px; height: 70px; justify-content: center; align-items: center; display: flex; padding: 0 0px;">
                                <label id="baseplate" name="baseplate" class="form-label"></label>
                            </div>
                            
                            {% if bX %}
                            <div style="width: 10px; height: 70px; padding: 0 0px;">
                                <input id="rangeX" name="rangeX" min="1" max="20" value="{{ bX }}" step="1" type="range" orient="vertical">
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div style="margin: 10 0px">
                        <label id="user_col" class="form-label">User Color Selection: 20</label><br>
                        <input id="rangeCol" name="rangeCol" min="1" max="50" value="{{ rangeCol }}" step="1" type="range" orient="horizontal"><br>
                        <input name="ckb1" id="ckb1" type="checkbox" checked=true>
                        <label>Automatic</label><br>
                    </div>

                    <div style="padding-top: 10px">
                        {% for i in range(5) %}
                            <div class="row">
                                {% for ii in range(10) %}
                                    {% if palette[(i*10)+ii][1] %}
                                        <button type="button" onclick="onbtnclick('btn{{(i*10)+ii}}','btn{{(i*10)+ii}}_val')" id="btn{{(i*10)+ii}}" name="btn{{(i*10)+ii}}" style="margin: 1px 1px; border: 2px solid red; background-color: rgb({{ palette[(i*10)+ii][0] }}); height: 15px; width: 25px;"></button>
                                        <input type="hidden" name="btn{{(i*10)+ii}}_col" value="{{ palette[(i*10)+ii][0] }}">
                                        <input type="hidden" name="btn{{(i*10)+ii}}_val" id="btn{{(i*10)+ii}}_val" value="1">
                                    {% else %}
                                        <button type="button" onclick="onbtnclick('btn{{(i*10)+ii}}','btn{{(i*10)+ii}}_val')" id="btn{{(i*10)+ii}}" name="btn{{(i*10)+ii}}" style="margin: 1px 1px; border: 2px solid white; background-color: rgb({{ palette[(i*10)+ii][0] }}); height: 15px; width: 25px;"></button>
                                        <input type="hidden" name="btn{{(i*10)+ii}}_col" value="{{ palette[(i*10)+ii][0] }}">
                                        <input type="hidden" name="btn{{(i*10)+ii}}_val" id="btn{{(i*10)+ii}}_val" value="0">
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                    <div style="margin: 10px 0px; display: block; width: 100%">
                        <input class="btn-success" type="submit" name="nxt" value="Preview">
                    </div>
                    <div class="center" style="margin: 30px 0px;">
                        <input class="btn-success" type="submit" name="nxt" value="NEXT [Finish]">
                    </div>
                </form>

                {% if imagepath %}
                    <div class="col">
                        <img class="img-fluid mb-3" src="{{url_for('static', filename=imagepath)}}" width="60%" height="60%">
                    </div>
                {% endif %}
            </div>
        </div>
        <script src="{{url_for('static', filename='main.js')}}"></script>
        <script>
            function onbtnclick(btn_name, btn_val) {
                if (document.getElementById(btn_name).style.border=="2px solid white"){
                    document.getElementById(btn_name).style.border = "2px solid red";
                    document.getElementById(btn_val).value = "1";
                    document.getElementById('ckb1').checked = false;
                } else{
                    document.getElementById(btn_name).style.border = "2px solid white";
                    document.getElementById(btn_val).value = "0";
                    document.getElementById('ckb1').checked = false;
                }
            }
        </script>
    </body>
</html>
